bin/
obj/
Logs/
/backend/KokkunLMS.API/Logs/*
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json
.env
.vscode/

.build/
.dart_tool/
.packages
pubspec.lock
*.iml
.idea/

# Ignore all uploaded profile pictures
/backend/KokkunLMS.API/wwwroot/uploads/profile/*

# Except default profile picture
!/backend/KokkunLMS.API/wwwroot/uploads/profile/no-photo.jpg

